.sign-name-style {
    color: saddlebrown;
    font-size: 20px;
    padding-left: 12px;
}

.sign-description-style {
    color: saddlebrown;
    font-size: 20px;
}

.name-row {
    padding-top: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.name-row {
    display: flex;
    justify-content: start;
    align-items: center;
}